<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MasterEvent</display-name>


<servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>com.master.servlets.Login</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/Log</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>FormProcessing</servlet-name>
    <servlet-class>com.master.servlets.FormProcessing</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>FormProcessing</servlet-name>
	<url-pattern>/PageEv</url-pattern>
</servlet-mapping>
    
    
<servlet>
	<servlet-name>HomePage</servlet-name>
    <servlet-class>com.master.servlets.HomePage</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>HomePage</servlet-name>
	<url-pattern>/Home</url-pattern>
</servlet-mapping>
    
    
<servlet>
	<servlet-name>ClientPanel</servlet-name>
	<servlet-class>com.master.servlets.ClientPanel</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ClientPanel</servlet-name>
	<url-pattern>/Client</url-pattern>
</servlet-mapping>
  
    
<servlet>
	<servlet-name>SignUpProcess</servlet-name>
    <servlet-class>com.master.servlets.SignUpProcess</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>SignUpProcess</servlet-name>
	<url-pattern>/SignUp</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>Services</servlet-name>
    <servlet-class>com.master.servlets.Services</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Services</servlet-name>
	<url-pattern>/Serv</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>LoginController</servlet-name>
    <servlet-class>com.master.servlets.LoginController </servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name> LoginController</servlet-name>
	<url-pattern>/LoginController</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>TodoController</servlet-name>
    <servlet-class>com.master.servlets.TodoController</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>TodoController</servlet-name>
	<url-pattern>/TodoController</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>UserController</servlet-name>
    <servlet-class>com.master.servlets.UserController</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>UserController</servlet-name>
	<url-pattern>/UserController</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>Register</servlet-name>
    <servlet-class>com.master.servlets.Register</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Register</servlet-name>
	<url-pattern>/Reg</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>OverView</servlet-name>
    <servlet-class>com.master.servlets.OverView</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>OverView</servlet-name>
	<url-pattern>/Ov</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>finance</servlet-name>
    <servlet-class>com.master.servlets.finance</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>finance</servlet-name>
	<url-pattern>/fnc</url-pattern>
</servlet-mapping>

</web-app>